<script setup>
import moment from "moment";
import { ref } from 'vue';
import { useForm } from '@inertiajs/inertia-vue3';
import ActionMessage from '@/Components/ActionMessage.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import FormSection from '@/Components/FormSection.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import DialogModal from '@/Components/DialogModal.vue';


const props = defineProps({
    taskdata: Object,
    subtask: Object,
    getchart: Object
});

const task_input = ref(null);

const form = useForm({
    task_input: '',
    deadline: '',
    task_id: props.taskdata.id,
});

const addTask = () => {
    if (form.task_input != '') {
    
        form.post(route('subtask.store'), {
            errorBag: 'subTaskAdd',
            preserveScroll: true,
            onSuccess: () => {
                form.reset()},
            onError: () => {
                
            },
        });
    } else {
        alert("Err")
    }
    
};
</script>

<script>

export default {
    props: ['subtask','taskdata'],
    data(){
        return{
            daftartugas: this.subtask,
            moment: moment,
            generate:false,
            twitter: [],
            facebook: [],
            instagram: [],
            tiktok: [],
            snackvideo: [],
            youtube: [],
            twitterAkun: 0,
            facebookAkun: 0,
            instagramAkun: 0,
            tiktokAkun: 0,
            snackvideoAkun: 0,
            youtubeAkun: 0,
            judul:'LOADING...',
            taskjudul:'LOADING...',
        }
    },
    methods:{
        generateWa(subId, dataSub){

            // bagian code reset
            this.twitterAkun = 0;
            this.facebookAkun = 0;
            this.instagramAkun = 0;
            this.tiktokAkun = 0;
            this.snackvideoAkun = 0;
            this.youtubeAkun = 0;
            this.judul = 0;

            this.twitter = [];
            this.facebook = [];
            this.instagram = [];
            this.tiktok = [];
            this.snackvideo = [];
            this.youtube = [];
            this.judul = 'LOADING...';
            this.taskjudul = 'LOADING...';
            //akhir dari reset

            this.generate = true;
            this.twitterAkun = dataSub.twitter;
            this.facebookAkun = dataSub.facebook;
            this.instagramAkun = dataSub.instagram;
            this.tiktokAkun = dataSub.tiktok;
            this.snackvideoAkun = dataSub.snackvideo;
            this.youtubeAkun = dataSub.youtube;
            this.judul = dataSub.name;
            let self = this

            axios.get(route('task.show', dataSub.task_id)).then(function (response){
                self.taskjudul = response.data.name;
            })

            axios.get(route('generate', subId)).then(function (response){ 
                const words = JSON.stringify(response.data)
                var ya = JSON.parse(words)
                var result = ya.filter(word => word.sosialmedia === 'twitter');
                self.twitter = result

                var result = ya.filter(word => word.sosialmedia === 'facebook');
                self.facebook = result

                var result = ya.filter(word => word.sosialmedia === 'instagram');
                self.instagram = result

                var result = ya.filter(word => word.sosialmedia === 'youtube');
                self.youtube = result

                var result = ya.filter(word => word.sosialmedia === 'tiktok');
                self.tiktok = result

                var result = ya.filter(word => word.sosialmedia === 'snackvideo');
                self.snackvideo = result
            
            });
        },
        hapusTask(taskId){
            if (confirm("Delete Sub Task?") == true) {
                var datas = {
                    id: taskId
                }
                axios.post(route('subtask.destroy'), datas).then(function (response){
                    console.log(response.data)
                    location.reload()
                })
            } else {
                console.log("cancel delete")
            }
            
        }
    }
}




</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                <a :href="route('task')" class="p-2 bg-red-600 text-sm text-white rounded-md">Kembali</a> | {{ taskdata.name }} - Sub Task
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="p-2">
                            <FormSection @submitted="addTask">
                                <template #title>
                                    Sub Task Input
                                </template>

                                <template #description>
                                    Ensure your sub task unique to stay secure. <br> <b> contoh: Ops Pemenangan Bacaleg PDIP DPR RI SOFYAN DAWOOD (SD) Di Dapil Aceh I </b>
                                </template>

                                <template #form>
                                    <div class="col-span-6 sm:col-span-4">
                                        <InputLabel for="task_input" value="Sub Task Input" />
                                        <TextInput
                                            id="task_input"
                                            ref="task_input"
                                            v-model="form.task_input"
                                            type="text"
                                            class="mt-1 block w-full"
                                        />
                                        
                                        <InputError :message="form.errors.task_input" class="mt-2" />
                                    </div>
                                    <div class="col-span-6 sm:col-span-4">
                                        <InputLabel for="task_input" value="Deadline (Opsional)" />
                                        <TextInput
                                            id="deadline"
                                            ref="deadline"
                                            v-model="form.deadline"
                                            type="text"
                                            class="mt-1 block w-full text-red-500"
                                        />
                                        <small>Cth: 15.00 WIB</small>
                                        <InputError :message="form.errors.deadline" class="mt-2" />
                                    </div>
                                </template>

                                <template #actions>
                                    <ActionMessage :on="form.recentlySuccessful" class="mr-3">
                                        Saved.
                                    </ActionMessage>

                                    <PrimaryButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                        Save
                                    </PrimaryButton>
                                </template>
                            </FormSection>
                    </div>
                    <div class="p-2">
                        <table class="table-auto min-w-full border-collapse text-sm">
                            <thead>
                                <tr>
                                <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">#</th>
                                <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left capitalize">SubTask</th>
                                <th class="text-sm font-medium text-red-500 text-left capitalize">Deadline</th>
                                <th class="text-sm font-medium text-gray-900 text-left capitalize">facebook</th>
                                <th class="text-sm font-medium text-gray-900 text-left capitalize">instagram</th>
                                <th class="text-sm font-medium text-gray-900 text-left capitalize">twitter</th>
                                <th class="text-sm font-medium text-gray-900 text-left capitalize">tiktok</th>
                                <th class="text-sm font-medium text-gray-900 text-left capitalize">youtube</th>
                                <th class="text-sm font-medium text-gray-900 text-left capitalize">snackvideo</th>
                                <th class="text-sm font-medium text-gray-900 text-left">Date</th>
                                <th class="text-sm font-medium text-gray-900 text-left">Report</th>
                                <th class="text-sm font-medium text-gray-900 text-left"></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(list,index) in subtask" :key="list.id" class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ index+1 }}</td>
                                    <td class="text-sm text-white font-light"><a :href="route('links', list.id)" class="text-blue-500">{{list.name}}</a></td>
                                    <td class="text-sm text-red-500 font-light whitespace-nowrap">{{ list.deadline }}</td>
                                    <td class="text-sm text-gray-900 font-light whitespace-nowrap">{{ list.facebook }}</td>
                                    <td class="text-sm text-gray-900 font-light whitespace-nowrap">{{ list.instagram }}</td>
                                    <td class="text-sm text-gray-900 font-light whitespace-nowrap">{{ list.twitter }}</td>
                                    <td class="text-sm text-gray-900 font-light whitespace-nowrap">{{ list.tiktok }}</td>
                                    <td class="text-sm text-gray-900 font-light whitespace-nowrap">{{ list.youtube }}</td>
                                    <td class="text-sm text-gray-900 font-light whitespace-nowrap">{{ list.snackvideo }}</td>

                                    <td class="text-sm text-gray-900 font-light whitespace-nowrap"> {{ moment(list.created_at).format("DD-MM-YYYY HH:mm") }}</td>
                                    <td class="text-sm text-gray-900 font-light whitespace-nowrap"><button @click="generateWa(list.id, list)" class="p-2 bg-green-600 text-white rounded-md">Generate</button></td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        <button class="text-sm text-white bg-red-500 p-2" @click="hapusTask(list.id)">Hapus</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="p-2">
                        <div class="shadow-lg rounded-lg overflow-hidden">
                            <div class="py-3 px-5 bg-gray-50">Report Pengguna</div>
                            <div class="flex flex-wrap justify-center space-x-2">
                                <template v-for="data in getchart" :key="data.id">
                                    <div class="text-center p-2 shadow-lg rounded-lg">
                                        <img
                                            src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp"
                                            class="rounded-full w-16 mb-4 mx-auto"
                                            alt="Avatar"
                                        />
                                        <h5 class="text-xl font-medium leading-tight mb-2">{{ data.name }}</h5>
                                        <p class="text-gray-500 text-2xl">{{ data.user_count }}</p>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dialog Modal -->

        <DialogModal :show=generate>
            <template #title>
                Generate Laporan Whatsapp | <button @click="generate = false" class="p-2 bg-red-600 text-sm text-white rounded-md">close</button>
            </template>
            <template #content>
<div contenteditable="true">

*Kepada Yth :*<br>
*1. Rajawali.*<br>
*2. Elang.*<br>
<br>
*Dari : Merpati - 08*<br>
<br>
*Tembusan :*<br>
*1. Kasuari 2.*<br>
*2. Kasuari 21.*<br>
*3. Kasuari 23.*<br>
<br>
*Perihal : Perkembangan {{judul}} ({{ taskjudul }})* <br> 
<br>
*A. EXECUTIVE SUMMARY* <br> 
<br> 
<p>Pada {{ taskjudul }}, di wilayah Merpati-08 telah dilakukan upaya amplifikasi isu {{judul }} dengan total {{ twitter.length }} Link Twitter, {{ facebook.length }} Link Facebook,  {{ instagram.length }} Link Instagram, {{ tiktok.length }} Link Tiktok, dan {{ youtube.length }} Link Youtube serta pembuatan meme/video sebanyak -- konten.</p> <br>

*B. AMPLIFIKASI MELALUI PLATFORM FACEBOOK, TWITTER, TIKTOK, YOUTUBE DAN INSTAGRAM, SEBAGAI BERIKUT:* <br>
a. Twitter menggunakan sebanyak {{ twitterAkun }} Akun, dengan total {{ twitter.length }} link.<br>
<ol>
<template v-for="(data, index) in twitter" :key="index.id"><li>{{ index+1 }}. {{ data.link }}</li></template>
</ol><br>
b. Facebook menggunakan sebanyak {{ facebookAkun }} Akun, dengan total {{ facebook.length }} link.<br>
<ol>
<template v-for="(data, index) in facebook" :key="index.id"><li>{{ index+1 }}. {{ data.link }}</li></template>
</ol><br>
c. Instagram menggunakan sebanyak {{ instagramAkun }} Akun, dengan total {{ instagram.length }} link.<br>
<ol>
<template v-for="(data, index) in instagram" :key="index.id"><li>{{ index+1 }}. {{ data.link }}</li></template>
</ol><br>
<!-- d. Snackvideo menggunakan sebanyak {{ snackvideoAkun }} Akun, dengan total {{ snackvideo.length }} link.<br>
<ol>
<template v-for="(data, index) in snackvideo" :key="index.id"><li>{{ index+1 }}. {{ data.link }}</li></template>
</ol><br> -->
d. Tiktok menggunakan sebanyak {{ tiktokAkun }} Akun, dengan total {{ tiktok.length }} link.<br>
<ol>
<template v-for="(data, index) in tiktok" :key="index.id"><li>{{ index+1 }}. {{ data.link }}</li></template>
</ol><br>
e. Youtube menggunakan sebanyak {{ youtubeAkun }} Akun, dengan total {{ youtube.length }} link.<br>
<ol>
<template v-for="(data, index) in youtube" :key="index.id"><li>{{ index+1 }}. {{ data.link }}</li></template>
</ol><br>
*C. CATATAN DAN KENDALA*<br>
*- Nihil*<br>
<br> 
*D. DOKUMENTASI TERLAMPIR*<br> 
<br> 
*DMMP. Merpati-08*<br> 
</div>
                
            </template>
            <template #footer>
                <button @click="generate = false" class="p-2 bg-red-600 text-white rounded-md">close</button>
            </template>
        </DialogModal>
    </AppLayout>
</template>
