<script setup>
import moment from "moment";
import { reactive, ref } from 'vue';
import { useForm } from '@inertiajs/inertia-vue3';
import ActionMessage from '@/Components/ActionMessage.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import FormSection from '@/Components/FormSection.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';

const task_input = ref(null);

</script>
<script>
export default {
    props: ['taskdata'],
    data(){
        return{
            daftartugas: this.taskdata,
            moment: moment,
            judul: '',
            jammulai: '',
            jamselesai: '',
        }
    },
    methods:{
        addTask(){
            // var datapost = {
            //     'task_input': this.judul +', pukul ' + this.jammulai + ' s.d. ' + this.jamselesai + ' WIB,',
            // }
            var datapost = {
                'task_input': this.judul,
            }
            axios.post(route('task.store'), datapost).then(function (response){
                location.reload()
            })
        },
        hapusTask(taskId){
            if (confirm("Delete Task?") == true) {
                var datas = {
                    id: taskId
                }
                axios.post(route('task.destroy'), datas).then(function (response){
                    console.log(response.data)
                    location.reload()
                })
            } else {
                console.log('delete cancel')
            }
            
        }
    }
}
</script>



<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Task
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="p-2">
                            <FormSection @submitted="addTask">
                                <template #title>
                                    Task Input
                                </template>

                                <template #description>
                                    Ensure your task unique to stay secure.
                                </template>

                                <template #form>
                                    <div class="col-span-6 sm:col-span-4">
                                        <InputLabel for="task_input" value="Task Input" />
                                        
                                        <input type="text" placeholder="12 Desember 2022" v-model="judul" class="mt-1 block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                        <!-- <input type="text" placeholder="Jam Mulai cth: 08.00" v-model="jammulai" class="mt-1 block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"> -->
                                        <!-- <input type="text" placeholder="Jam Selesai cth: 14.00" v-model="jamselesai" class="mt-1 block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"> -->
                                        
                                    </div>
                                </template>

                                <template #actions>
                                    <PrimaryButton>
                                        Save
                                    </PrimaryButton>
                                </template>
                            </FormSection>
                    </div>
                    <div class="p-2">
                        <table class="table-auto border-collapse w-full text-sm">
                            <thead>
                                <tr>
                                <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">#</th>
                                <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Task</th>
                                <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Date</th>
                                <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(list,index) in taskdata" :key="list.id" class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ index+1 }}</td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4"><a :href="route('subtask', list.id)" class="p-1 text-blue-500">{{list.name}}</a></td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> {{ moment(list.created_at).format("DD-MM-YYYY HH:mm") }}</td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        <button class="text-sm text-white rounded w-full bg-red-500 p-2" @click="hapusTask(list.id)">Hapus</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
