<script setup>
import { Head, Link } from '@inertiajs/inertia-vue3';

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    laravelVersion: String,
    phpVersion: String,
});
</script>
<template>
    <Head title="Welcome" />

    <div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center sm:pt-0">
        <div v-if="canLogin" class="fixed top-0 right-0 px-6 py-4 sm:block">
            <Link v-if="$page.props.user" :href="route('dashboard')" class="text-sm text-gray-700 dark:text-gray-500 underline">Dashboard</Link>

            <template v-else>
                <Link :href="route('login')" class="text-sm text-gray-700 dark:text-gray-500 underline">Log in</Link>

                <!-- <Link v-if="canRegister" :href="route('register')" class="ml-4 text-sm text-gray-700 dark:text-gray-500 underline">Register</Link> -->
            </template>
        </div>

        <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
            <div class="flex justify-center pt-8 sm:justify-start sm:pt-6">
                <div class="text-gray-500 dark:text-white bg-opacity-25 pt-6">
                    <div class="text-center">
                        <h1 class="text-4xl">Quote of the day</h1>
                        <div class="p-6 text-xl">
                        <p class="text-2xl">“Berbeda-beda tapi tetap dibedakan“.</p>
                        <p class="mt-10">Ver 2.0.1</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
