<template>
    <Bar :data="chartDatas" />
  </template>
  
  <script>
 import { Bar } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

  export default {
    props: {
      label:  {
        type: Array
      },
      chartData:  {
        type: Array
      }
    },
    components:{
      Bar
    },
    data(){
      return{
        chartDatas:{
          labels: this.label,
                datasets: [
                {
                    label: "Aneh",
                    backgroundColor: '#f87979',
                    data: this.chartData
                }
                ]

        }
      }
    },
    
  }
  </script>